body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #e0f7fa, #ffffff);
    margin: 0;
    padding: 0;
    text-align: center;
}


h1 {
    font-size: 48px;
    color: #333;
    margin-top: 40px;
}

h2 {
    font-size: 32px;
    color: #555;
    margin-top: 60px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #666;
    max-width: 600px;
    margin: 0 auto 10px auto;
    line-height: 1.6;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.home-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #747474;
}